@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

input,
select,
textarea {
  @apply text-black bg-white;
}

input::placeholder,
textarea::placeholder {
  @apply text-zinc-500;
}

input:disabled,
select:disabled,
textarea:disabled {
  @apply bg-zinc-100 text-zinc-600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
